#covidtablecontainer {
	width: 100%;
}

#covidtable {
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:16px;
    text-align: center;
  }

  #covidtable tr {
      text-align: center;
  }

  #covidtable td, #covidtable th {
    border: 1px solid #ddd;
    padding: 8px;
    background: transparent;
  }

  #covidtable tr:hover {background-color: brown;}

  #covidtable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #330033;
    color: white;
  }

  .pagination {
      display: flex;
      padding-left: 0;
      list-style: none;
      border-radius: .25rem;
      margin-left: 25%;
  }
  .page-link:hover {
      z-index: 2;
      color: #0056b3;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
  }
  .page-link {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #007bff;
      background-color: #fff;
      border: 1px solid #dee2e6;
  }
  .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
  }
  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
      border: 0;
  }
  .page-item.disabled .page-link {
      color: #6c757d;
      pointer-events: none;
      cursor: auto;
      background-color: #fff;
      border-color: #dee2e6;
  }

  @media only screen and (max-device-width: 480px) {

      #covidtablecontainer {
          width: 100%;
      }

      .pagination {
          margin-left: 10%;
      }

      h1 {
          font-size: 2rem;
      }
  }
