<div id='covidtablecontainer' class='.col-xs-9 .col-md-6'>

    <table id="covidtable">
        <tr>
            <th>Country</th>
            <th>Total Cases</th>
            <th>Deceased</th>
        </tr>
        <tr *ngFor="let data of dataObj | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize" (click)='onCountrySelected(data)'>
            <td>{{data.country}}</td>
            <td>{{data.totalCases}}</td>
            <td>{{data.totalDeaths}}</td>
        </tr>
    </table>
    <ngb-pagination [collectionSize]="dataObj.length" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

    <!-- <ul *ngFor = "let data of httpdata"> -->
    <!-- <li>Country : {{data.country}}, Count: {{data.totalCases}}</li> -->
    <!-- </ul> -->
</div>
